.line__menu {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
  }
  .line__item {
    font-size: 30px;
    font-weight: 900;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .line__item:hover {
    background-color: #333232;
    transition: all 0.5s;
  }
  .line__item + .line__item {
    margin-top: 10px;
  }
  .line__link-item {
    text-decoration: none;
    color: #fff;
  }
  .active{
   color: #c70b0b;
  }