.main-block{
  display: flex;
  justify-content: center;
}
.block__card {
  border: 1px solid #fff;
  min-height: 240px;
  height: 200px;
  color: rgb(174, 179, 183);
  padding: 10px 0px;
}
.block__info {
  margin-bottom: 10px;
}
.block__field {
  font-size: 24px;
  padding: 5px 10px;
}
.block__field:last-child {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.block__field + .block__field {
  margin: 5px 0px;
  border-top: 1px solid #fff;
}
.block__btns {
  display: flex;
  justify-content: space-around;
}
